<div class="menu">
    <h1>_IT IS AN ARCHIVE TO RIABAIT_</h1>
    <h2>Helloy, friend! You can call me - Riabait. </h2>
    <p>I created this website for learning backend development. Here are notes from a beginner programmer. I want to save my privacy, because I want to separate life from programming, but many things affect my motivation, learning, and projects. Music, games, films, animation, and news have influenced me both as a person and as a programmer. I will talk about everything that's been weighing on me.</p>

    <button class="but"> <a href="{% url 'creat_note'%}"> CREATED NOTE</a></button>
</div>